/*$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;*/

body {
	text-transform: lowercase;
}

h1 {
	font-family: 'Archivo Black', sans-serif;
	font-size: 3em;
}

h2 {
	font-family: 'Archivo Black', sans-serif;
	
}

h3 {
	font-family: 'Archivo Black', sans-serif;
}

h4 {
	font-family: 'Montserrat', sans-serif;	
}

h5 {
	font-family: 'Montserrat', sans-serif;	
}

h6 {
	font-family: 'Montserrat', sans-serif;	
}

p {
	font-family: 'Montserrat', sans-serif;
}

a {
	font-family: 'Montserrat', sans-serif;
}

pre {
	font-family: 'Montserrat', sans-serif;
	white-space: pre-wrap;
	font-size: 1rem;
	line-height: 1.5;

}

label {
	font-family: 'Montserrat', sans-serif;
}

input {
	font-family: 'Montserrat', sans-serif;
}

button {
	font-family: 'Montserrat', sans-serif;
	text-transform: lowercase;
}

.home-text {
	font-size: 5em;
}

@media only screen and (max-width: 600px) {
	.display-2 {
		font-size: 4em;
	} 

	.display-3 {
		font-size: 3.6em;
	} 

	h4 {
		font-size: 1.2em;
	}

	p {
		font-size: .8em;
	}

	pre {
		font-size: .8em;
		white-space: pre-wrap;
	}
}





.masthead {
	height: 100vh;
	min-height: 500px;
	
	/*background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');*/
	/*background-size: cover;*/
	/*background-position: center;*/
	/*background-repeat: no-repeat;*/
}

.page-head {
	height: 75vh;
	/*min-height: 500px;*/
	
}

/*XS and S screens*/
@media only screen and (max-width: 600px) {
	.page-head {
		height: auto;
		/*min-height: 500px;*/
	}
}
 /*MD screens*/
 @media (min-width: 768px) and (max-width: 991.98px) {
 	.page-head {
		height: auto;
		/*min-height: 500px;*/
	}
 }



.section-head {
	font-size: 100px;
	line-height: 75%;
}

.section-div {
	width: 75%;
}

@media only screen and (max-width: 600px) {
	.section-div {
	width: 100%;
}
}

.section-body {
	margin-top: -5%;
	background-color: lightgray;
}

@media only screen and (max-width: 600px) {
	.section-body {
		margin-top: -10%;
		background-color: gray;
	}
}


/*.img-circle {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
}*/

.title-img {
	width: 75%;
	object-fit: cover;
	height: 350px;
}

.square {
	width: 50vh;
	height: 50vh;
	left: 30%;
	bottom: 30%;
	background-color: gray;
	z-index: -1;
}

.container-auto-size {
	min-height: 100vh;
}

.contact-head {
	
}

.contact-form-body {
	top: 28%;
}


/* Shows Page Title Styles*/
/*LG and up scrrens*/
@media only screen and (min-width: 992px) {

	.shows-title-img {
		width: 100%;
		object-fit: cover;
		height: 350px;
		max-height: 60vh;
		margin-left: 30%;
	}


	.shows-title {
		margin-left: -35%;
		margin-top: 40%;
		color: white;
	}
}

/*XS to SM screens*/
@media only screen and (max-width: 600px) {
	.shows-title-img {
		width: 100%;
		height: 350px;
		object-fit: cover;
		max-height: 60vh;
		margin-left: 0;
	}

	.shows-title {
		margin-left: 0;
		margin-top: -30%;
		color: white;
	}

}

/*MD screens*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.shows-title-img {
		width: 120%;
		height: 350px;
		object-fit: cover;
		max-height: 60vh;
		margin-left: 50%;
	}

	.shows-title {
		margin-left: -60%;
		margin-top: 50%;
		color: white;
	}
}

/*-----------------------*/

/* Music Page Title Styles*/
.music-title-img {
	width: 100%;
	object-fit: cover;
	height: 350px;
	max-height: 60vh;
	margin-left: -45%;
}


.music-title {
	margin-right: -20%;
	margin-top: 35%;
	color: white;
}

/*XS and SM screens*/
@media only screen and (max-width: 600px) {
	.music-title-img {
		width: 100%;
		height: 350px;
		object-fit: cover;
		max-height: 60vh;
		margin-left: 0;
	}

	.music-title {
		margin-right: 0;
		margin-top: -30%;
		color: white;
	}



}

/*MD screens*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.music-title-img {
		width: 120%;
		height: 350px;
		object-fit: cover;
		max-height: 60vh;
		margin-left: -40%;
	}

	.music-title {
		margin-right: -78%;
		margin-top: 55%;
		color: white;
	}
}


/*-----------------------*/

/* Contact Page Title Styles */
.contact-title-img {
	width: 90%;
	object-fit: cover;
	height: 65vh;
	/*max-height: 60vh;*/
	margin-top: 5%;
	margin-left: 5%;
	/*margin*/
	z-index: 0;
}


.contact-title {
	
	top: 20%;
	left: 15%;
	color: white;
	z-index: 1;


}

/*XS and SM screens*/
@media only screen and (max-width: 600px) {
	.contact-title-img {
		width: 100%;
		height: 50vh;
		object-fit: cover;
		max-height: 60vh;
		margin-left: 0;
		/*margin*/
	}

	.contact-title {
		margin-right: 0;
		margin-top: 0%;
		margin-left: -10%;
	}

}

/*MD screens*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.contact-title-img {
	

		width: 100%;
		object-fit: cover;
		height: 50vh;
		/*max-height: 60vh;*/
		margin-top: 0;
		margin-left: 0;
		z-index: 0;
	}

	.contact-title {
		
		margin-left: -5%;
		color: white;
		font-size: 4em;

	}
}

/*---------------------------*/

@media only screen and (max-width: 600px) {
	.lyric-body {
		max-width: 100%;
	}
}


/*Shows - Gallery Styles*/

#gallery img {
	height: 40vh;
    object-fit: cover;
     
}

@media only screen and (max-width: 600px) {
	#gallery img {
	height: 20vh;
    object-fit: cover;
     
	}
}

/*@media (min-width: 768px) {
	#gallery img {
      height: 25vh;
	}
}

@media (min-width: 992px) {
	#gallery img {
      height: 18vh;
	}
}*/


.carousel-inner > .carousel-item > img {
	height: 75vh;
	width: auto;
    object-fit: cover;
}

@media (min-width: 576px) {
	.carousel-item img {
		height: 350px;
	}
}

/* Home main bg image */

body #home {
	background: url('../images/home-bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

/*--------------------*/


/* Custom contact form styles*/
.contact-form-input {
	border-top: 0;
	border-bottom: 1px solid lightgray;
	border-left: 0;
	border-right: 0;
	border-radius: 0;

}

/*.contact-form-input:focus{
	border-top: 0;
	border-bottom: 2px solid black;
	border-left: 0;
	border-right: 0;
	border-radius: 0;*/
	/*border: none;*/
/*	box-shadow: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	outline: none;
}*/

/*.contact-form-input ~ .border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
  }*/

/*   .contact-form-input:focus ~ .border {
    width: 100%;
    transition: 0.5s;
  }*/

  .contact-form-input:focus {
  	outline: none;
  	box-shadow: none;
  	border-bottom-color: #929fba;
  }
  
  .content {
  	/*width: 500px;*/
  	position: relative;
  }
  
  .contact-form-input {
  	width: 100%;
  	border: 0;
  	padding: 10px 10px;
  	border-bottom: 1px solid #929fba;
  }
  
  .contact-form-input ~ .border {
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 0;
  	height: 1px;
  }
  
  .contact-form-input:focus ~ .border {
  	width: 100%;
  	transition: 0.5s;
  }

  .container {
  	border: 0.5px solid;
  	padding-bottom: 40px;
  }

  span.border {
  	border: 1px solid black!important;
  }

/*Button animation*/
.draw-border {
	position: relative;
	text-decoration: none;
  width: auto;
  height: auto;
	text-align: center;
  /*line-height: 50px;*/
	display: inline-block;
  /*font-size: 24px;*/
	color: #262626;

}

.draw-border:before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.draw-border:hover:before{
  animation: animate .3s linear forwards;
}
@keyframes animate{
  0%{
    width: 0;
    height: 0;
    border-top-color: #262626;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  50%{
    width: 100%;
    height: 0;
    border-top-color: #262626;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #262626;
  }
  100%{
    width: 100%;
    height: 100%;
    border-top-color: #262626;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #262626;
  }
}

.draw-border:after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}
.draw-border:hover:after{
  animation: animate2 .3s linear forwards;
  animation-delay: 0s;
}
@keyframes animate2{
  0%{
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #262626;
    border-right-color: transparent;
  }
  50%{
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: #262626;
    border-left-color: #262626;
    border-right-color: transparent;
  }
  100%{
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: #262626;
    border-left-color: #262626;
    border-right-color: transparent;
  }
}



/*---------------------------*/

/*Animations*/
.main-page-animation{
  animation: main-page-animation-frames ease 2s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: main-page-animation-frames ease 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: main-page-animation-frames ease 2s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: main-page-animation-frames ease 2s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: main-page-animation-frames ease 2s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

.main-nav {
	opacity: 0;
}

.main-nav-animation{
  animation: main-page-animation-frames ease 2s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  /*visibility: visible;*/
  -webkit-animation: main-page-animation-frames ease 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: main-page-animation-frames ease 2s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-delay: 2s;
  -moz-animation-fill-mode: forwards;
  -o-animation: main-page-animation-frames ease 2s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-delay: 2s;
  -o-animation-fill-mode: forwards;
  -ms-animation: main-page-animation-frames ease 2s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-delay: 2s;
  -ms-animation-fill-mode: forwards;
}

@keyframes main-page-animation-frames{
  0% {
    opacity:0;
    transform:  translate(0px,80px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes main-page-animation-frames{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,80px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes main-page-animation-frames {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,80px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes main-page-animation-frames {
  0% {
    opacity:0;
    -o-transform:  translate(0px,80px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes main-page-animation-frames {
  0% {
    opacity:0;
    -ms-transform:  translate(0px,80px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}



